
@import "../index.scss";

.payment-cmp{
    .payment-cmp_wrapper{
        @include grid_wrapper; 
        .payment-cmp_event-col{
            @include grid-col_left;
            width: 62%;
            .contact-info-checkbox{
                margin-bottom: 20px;
                label{
                    margin-left: 5px;
                    line-height: 16px;
                    display: inline-block;
                    vertical-align: top;
                }
                input{
                    width: 16px;
                    height: 16px;
                    border: 1px solid #C4C4C4;
                    display: inline-block;
                }
            }
            .form-grid{
                @include form-grid;
                .deposit-button{
                    background-color: white !important;
                    color: #1889FF !important;
                    border-color: #1889FF !important;
                }
            }
        }
        .payment-cmp_summary-col{
            @include grid-col_right;
            width: 35%;
            background-color: #F4F4F4;
            .summary-item{
                margin-bottom: 20px;
            }
            .date-container{
                margin-top: 20px;
                font-size: 16px;
                font-weight: 600;
            }
            .line{
                background-color: #C4C4C4;
                height: 1px;
                width: 100%;
                margin: 20px 0 ;
            }
            .totals{
                text-align: right;
            }
        }
    }
}