
@import "../index.scss";

.registration-cmp{
    .registration-cmp_wrapper{
        @include grid_wrapper; 
        .registration-cmp_event-col{
            @include grid-col_left;
            width: 40%;
            .rental-image{
                height: 120px;
                width: 100%;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: .65rem;
                }
            }
            .rental-description-disclaimers{
                h3{
                    margin: 30px 0 15px;
                }
                p{
                    font-size: 14px;
                } 
            }
        }
        .registration-cmp_registration-col{
            @include grid-col_right;
            width: 50%;
            .form-grid{
                @include form-grid;
            }
        }
    }
}