@import "../index.scss";

.day-selected{
    background: rgba(24, 137, 255, 0.2) !important;
    border: 0.69413px solid #1889FF !important;
    box-shadow: 0px 0px 2.77652px #1889FF !important;
    .fc-daygrid-day-top{
        .fc-daygrid-day-number{
            color: #1889FF !important;
            background-color: white !important;
        }
    }

}
.availability-cmp{
    .step-title{
        margin-bottom: 5px;
    }
    .availability-cmp_wrapper{
        @include grid_wrapper; 
        .availability-cmp_calendar-col{
            @include grid-col_left;
            width: 48%;
            .availability-cmp_type-wrapper{
                margin-bottom: 20px;
                padding-bottom: 0;
                label{
                    display: block;
                }
                select{
                    @include styled-input;
                }
            }
            .availability-cmp_calendar_wrapper{
                .availability-cmp_timerange-wrapper{
                    .availability-cmp_timerange-cont{
                        margin-top: 20px;
                    }
                }
            }
            .availability-cmp_timerange-wrapper{
                margin-top: 20px;
                span{
                    margin: 0 5px;
                }
                .ant-picker{
                    @include styled-input;
                    width: 80% !important;
                    display: inline-flex !important;
                }
            }
            .availability-cmp_guests-wrapper{
                margin-top: 20px;
                .guests-input{
                    @include styled-input;
                }
            }
        }
        .availability-cmp_packages-col{
            width: 50%;
            @media screen and (max-width:400px) {
                width: 100% !important;
                margin-top: 20px;
            }
            padding: 0 !important;
            ul{
                .step-title{
                    margin-bottom: 20px
                }
                @include containers;
                padding: 1rem;
                overflow-y: scroll;
                max-height: 95vh;
            }
        }
    }
    .fc{
        padding: .80rem;
        border-radius: .65rem;
        border: 1px solid #C9C9C8;
        .fc-toolbar-title{
            font-size: 17.35px;
        }
        .fc-daygrid-day-top{
            flex-direction: initial !important;
            justify-content: center;
            .fc-daygrid-day-number{
                padding: 5px;
                background-color: white;
                border-radius: 2px;
                line-height: 1;
                margin-top: 5px;
            }
        }
        .fc-day-today{
            background-color: transparent;
            .fc-daygrid-day-number{
                background-color: #1889FF;
                color: white;
            }
        }
    }
}