@import "../index.scss";

.day-selected{
    background: rgba(24, 137, 255, 0.2) !important;
    box-shadow: 0px 0px 2.77652px #1889FF !important;
    .fc-daygrid-day-top{
        .fc-daygrid-day-number{
            color: #1889FF !important;
            background-color: white !important;
        }
    }

}
.availability-cmp{
    .step-title{
        margin-bottom: 5px;
    }
    .availability-cmp_wrapper{
        @include grid_wrapper; 
        .availability-cmp_calendar-col{
            @include grid-col_left;
            width: 48%;
            .availability-cmp_type-wrapper{
                margin-bottom: 20px;
                padding-bottom: 0;
                label{
                    display: block;
                }
                select{
                    @include styled-input;
                    width: 60%;
                    @media screen and (max-width:400px) {
                        width: 100% !important;
                    }
                }
            }
            .availability-cmp_calendar_wrapper{
                .availability-cmp_timerange-wrapper{
                    .availability-cmp_timerange-cont{
                        margin-top: 20px;
                    }
                }
            }
            .availability-cmp_steps-wrapper{
                display: flex;
                justify-content: space-between;
                flex-flow: wrap;
                flex-wrap: wrap;
                .availability-cmp_timerange-wrapper{
                    width: 60%;
                    @media screen and (max-width:400px) {
                        width: 100% !important;
                    }
                    span{
                        margin: 0 5px;
                    }
                    .ant-picker{
                        @include styled-input;
                        width: 100% !important;
                        display: inline-flex !important;
                    }
                }
                .availability-cmp_guests-wrapper{
                    margin-top: 20px;
                    width: 35%;
                    @media screen and (max-width:400px) {
                        width: 100% !important;
                    }
                    .guests-input{
                        @include styled-input;
                        width: 100%;
                    }
                }
            }
        }
        .availability-cmp_packages-col{
            width: 50%;
            @media screen and (max-width:400px) {
                width: 100% !important;
                margin-top: 20px;
            }
            padding: 0 !important;
            .list-wrapper{
                position: relative;
            }
            ul{
                min-height: 400px;
                .step-title{
                    margin-bottom: 20px
                }
                @include containers;
                padding: 1rem;
                overflow-y: scroll;
                max-height: 95vh;
            }
        }
    }
    .fc{
        a{
            color: #94908C;
        }
        table.fc-scrollgrid{
            border: 0;
        }
        tr, th{
            border-right: 0;
            td{
                border-bottom: 0;
            }
            td:last-child{
                border-right: 0;
            }
        }
        padding: .80rem;
        border-radius: .65rem;
        border: 1px solid #C9C9C8;
        .fc-toolbar-title{
            font-size: 17.35px;
        }
        .fc-daygrid-day{
            &.fc-day-past{
                background: #e9e9e9;
                pointer-events: none;
                .fc-daygrid-day-top{
                    .fc-daygrid-day-number{
                        background-color: transparent;
                    }
                }
            }
            .fc-daygrid-day-top{
                flex-direction: initial !important;
                justify-content: center;
                .fc-daygrid-day-number{
                    padding: 5px;
                    background-color: white;
                    border-radius: 2px;
                    line-height: 1;
                    margin-top: 5px;
                }
            }
        }
        .fc-day-today{
            background-color: transparent;
            .fc-daygrid-day-top{
                a.fc-daygrid-day-number{
                    background-color: #1889FF;
                    color: white;
                }
            }
        }
    }
}